

.footer {
    margin-top: auto;
    height: 110px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px 0 0 0;
    background-color: var(--main-bg-color);
    border-top: 6px solid var(--secondary-color);
}
img {
    height: 35px;
    width: 35px;
}
.items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}