.tuote-main {
   border: 2px solid var(--secondary-color);
    padding: 16px 10px 10px;
    margin: 10px 60px 5px 60px;
}
#kalja {
    display: none;
}
.view {
    padding: 8px;
}
.tuotepainike {
    width: auto;
    height: 40px;
    background-color: var(--secondary-color);
    border-radius: 40px;
    font-size: 20px;
    color: white;
}

.keski {
    padding: 12px 6px;
    width: 40%;
    height: auto;
    justify-content: space-around;
}
.tiedot {
    display: block;
    padding-right: 8px;
    
}


.desc {
    text-align: start;
    overflow: hidden;
    width: 100%;
    
}
.keski > img {
    margin-right: 10px;
    width: auto;
    height: 200px;
}


/*
@media only screen and (min-width: 800px) {
    #kalja {
        display: block;
        width: 100%;
        grid-column: 1 / -1;
        height: 400px;
    }
    .view {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 100%);
        gap: 20px;
    }
    .tuote-main {
        justify-self: center;
        max-width:500px;
    }
}

@media only screen and (min-width: 1200px) {
    .view {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1400px) {
    .view {
        grid-template-columns: repeat(4, 1fr);
    }
}*/