@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.suositut-flex{
    display: flex;
    justify-content: center;
}

.suositut-otsikko{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 32px;
}
.btns{
    padding: 10px 20px;
    margin-right: 20px;
    background: transparent;
    border: 0.6px solid #ccc;
    border-radius: 5px;
    color: #323232;
    cursor: pointer;
    font-size: 20px;
}